.ice-icon-stable {
  margin-right: 5px;
}
.ice-layout a:hover {
  color: inherit;
}

.container {
  padding: 15px;
  margin: 20px 0;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 5px 20px #eef2f8;
}
