.home-page {
  margin-top: -55px;
  &--content {
    max-width: 1140px;
    margin: 10px auto;
  }
  &--btn-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
      flex-grow: 1;
    }
    .problem-link
    , .competition-link {
      height: 120px;
      border-radius: 8px;
      min-width: 350px;
      margin: 10px 10px;
      background-color: #2562e9;
      background: url(./images/bg.png) no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      img {
        margin: 7px 15px 0 28px;
      }
      .content {
        font-size: 26px;
        color: #fff;
        h4 {
          color: #fff;
          margin-bottom: 5px;
        }
        new {
          margin-bottom: 10px;
          font-size: 1.8em;
          &::after {
            display: inline-block;
            padding: .34em .6em;
            font-size: 85%;
            font-weight: normal;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .4em;
          }
        }
        p {
          font-size: 16px;
          margin-bottom: 0;
        }
      }
    }
  }
  &--rank-group {
    display: flex;
    flex-wrap: wrap;
    div {
      flex-grow: 1;
      min-width: 300px;
    }
  }
}