.problem-page {
  .problem-title {
    font-size: 18px;
  }
  .problem-body {
    padding: 15px;
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 5px 20px #eef2f8;
  }
  .problem-pagination {
    .ant-pagination-item:hover,
    .ant-pagination-item-active {
      background-color: #1890ff;
      a {
        color: #fff;
      }
    }
    .ant-pagination-prev,
    .ant-pagination-next {
      &:hover a {
        background-color: #1890ff;
        color: #fff;
      }
    }
  }
}
