// 多行省略 ellipsis
@mixin fn_line_clamp($line: 2) {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  white-space: normal;
}

// 单行省略
@mixin fn_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}