.problem-content {
  &--title {
    color: #33353d;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-bottom: 16px;
    img {
      width: 20px;
      margin-right: 5px;
    }
  }
}