.rank-list-box {
  border-top: solid 4px #fc6262;
  min-height: 560px;
  border-radius: 6px 6px 10px 10px;
  overflow: hidden;
  box-shadow: 0 5px 20px #eef2f8;
  background: #fff;
  color: #33353d;
  margin: 10px;
  .rank-list-title {
    background-clip: border-box;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 0;
    padding: 8px 0;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
  }
  .rank-list-content {
    width: 100%;
    text-align: center;
    th {
      white-space: nowrap;
      font-weight: normal;
      background: #f9f9f9;
      height: 46px;
      font-size: 14px;
      color: rgba(0,2,13,.6);
      letter-spacing: 0;
    }
    td {
      height: 45px;
      border-top: 1px solid #f2f2f2;
      img {
        width: 20px;
      }
    }
  }
}