.contest-page {

  .contest-title, .contest-info {
    font-weight: bold;
    text-align: center;
  }
  .contest-title {
    color: #17233d;
    margin-top: 10px;
  }
  .contest-info {
    color: #515a6e;
    margin-bottom: 30px
  }
  .bar {
    margin: 10px;
  }
}
