.code-block {
  pre {
    background-color: #f6f7f9;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #dcdde0;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
  }
  a {
    float: right;
    font-size: 12px;
    color: #ccc;
  }
}
